chainlit==2.9.3
qdrant-client==1.15.1
sentence-transformers
FlagEmbedding
ollama==0.6.1
pymupdf==1.26.4
torch
accelerate
transformers
pydantic
pyyaml
rich
tqdm
bcrypt
streamlit
plotly
pandas
numpy
requests
fastapi
uvicorn
mesop
